body {
    background-color: #f0fffa;
    font-family: 'Silkscreen', cursive;
}

h1 {
    line-height: 72px;
    font-size: 72px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.container {
    border: none;
    color: #ffffff;
    margin: 0px auto;
    max-width: 600px;
    outline: none;
    padding: 40px 40px;
    position: relative;
    text-align: center;
    z-index: 0;
}

.container:before {
    animation: glowing-container 3s linear infinite;
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff
        );
    background-size: 400%;
    border-radius: 20px;
    content: "";
    filter: blur(18px);
    height: calc(100% + 10px);
    left: -2px;
    position: absolute;
    top: -2px;
    transition: opacity 0.3s ease-in-out;
    width: calc(100% + 10px);
    z-index: -1;
}

@keyframes glowing-container {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.container:after {
    background: #222;
    border-radius: 20px;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.current-display {
    font-size: 18px;
}

.current-time {
    font-size: 32px;
    font-weight: bold;
    margin-top: 14px;
}

.current-time .am-pm {
    font-size: 14px;
    vertical-align:middle;
}

.current-date {
    font-size: 18px;
    margin-top: 14px;
}

select {
    background-color: #111;
    border-color: #7a00ff;
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-family: 'Silkscreen', cursive;
    padding: 8px;
    margin-top: 30px;
    width: 100%;
}

.city-card {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.city-name {
    font-size: 30px;
    text-align: start;
}

.city-date {
    font-size: 16px;
    text-align: start;
}

.city-time {
    font-size: 40px;
    font-weight: bold;
}

.am-pm {
    font-size: 18px;
    vertical-align:middle;
}

a {
    color: #ff00c8;
}

footer {
    margin-top: 30px;
    text-align: center;
}